<div class="wrapper">
    <div class="login-background">
        <div class="filter-black"></div>
            <div class="container">
                    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
                        <div class="login-card">
        <h1>Log In</h1>
        <hr>
<!--can you have a check for an incorrect password/alert if this happens?-->
        <form id="login-form" action="/sessions" method="POST">
					<div class="alert-warning"></div>
          <div class="form-group">
            <input type="text" name="email" class="form-control" placeholder="Email" autofocus>
          </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="submit" value="Log In" class="btn btn-neutral btn-fill">
          </div>
          Not a member? <a href="/signup" class="btn-neutral">Sign Up!</a>
          <h1>{{message}}</h1>
        </form>
      </div>
    </div>
</div>
</div>
</div>
</div>
