    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>Profile</h1>
                  <a id="logout" href="/logout" class="btn btn-default">Log Out</a>
                <hr>
                <h2>Welcome {{user.fName}}!</h2>
                  <div ng-repeat="book in user.books">
                    <p>
                      {{book.title}}
                    </p>
                  </div>
            </div>
        </div>
    </div>
</body>
