<div class="container text-center">
  <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="list-group-item">
                <h2>Welcome {{user.fName}}!</h2>
                <img class="profile-pic" src="{{user.img}}" alt="" />
                <br>

                <strong>Name: </strong><span ng-hide="editing">{{user.fName}} {{user.lName}}</span>
                <input ng-show="editing" ng-model="user.fName" name="fName" type="text" class="form-control input-md" placeholder="first name">
                <input ng-show="editing" ng-model="user.lName" name="lName" type="text" class="form-control input-md" placeholder="last name">
                <input ng-hide="true" ng-model="user._id" name="_id" type="text" class="form-control input-md" placeholder="last name">
                <br>
                <strong>Email: </strong><span ng-hide="editing">{{user.email}}</span>
                <input ng-show="editing" ng-model="user.email" name="email" type="text" class="form-control input-md" placeholder="email">
                <br>
                <button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit Profile</button>
                <button class='btn btn-success' ng-show="editing" ng-click="editUser(user); editing = false" action="/api/users" method: "PUT">Save Changes</button>
                <a id="logout" href="/logout" class="btn btn-default">Log Out</a>
            </div>
          </div>
        </div>

<br>
<h1>My Books: </h1>
<br>
<input type="text" ng-model="search" placeholder="search for a book" />
<br>
<hr>
                <div ng-repeat="book in user.books | orderBy: title | filter: search">
                  <div class="list-group-item">
                    <div class="row">
                    <div class="col-md-4">
                  <img class="book-pic" src="{{book.img}}" alt="" />
                  <input ng-show="editing" ng-model="book.img" name="img" type="text" class="form-control input-md" placeholder="Image URL">
                </div>
                    <div class="col-md-4">
                    <h4>{{book.title}}</h4>
                    <input ng-show="editing" ng-model="book.title" name="title" type="text" class="form-control input-md" placeholder="Title">
                    by: {{book.author}} <br>
                    <input ng-show="editing" ng-model="book.author" name="author" type="text" class="form-control input-md" placeholder="Author">
                    For ages: {{book.ageRange}}<br>
                    <input ng-show="editing" ng-model="book.ageRange" name="ageRange" type="text" class="form-control input-md" placeholder="Age Range">
                    <button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit Book</button>
                    <button class='btn btn-success' ng-show="editing" ng-click="editBook(book); editing = false" action="/api/books" method: "PUT">Save Changes</button>
                    <button class='btn btn-danger' ng-click="deleteBook(book)" action="/api/books" method: "DELETE">Delete Book</button>
                </div>
                <div class="col-md-4">
                <h4>Checked Out By:</h4>
                <img class="kid-pic" src="{{book.child.img}}" alt="" />
                <br>
                {{book.child.fullName}}
                <input ng-show="borrowing" ng-model="book.child" name="child" type="text" class="form-control input-md" placeholder="Child's Name">
                <br>
                <button class='btn btn-warning' ng-hide="borrowing" ng-click="borrowing = true">Rent out Book</button>
                <button class='btn btn-warning' ng-show="borrowing" ng-click="borrowBook(book); borrowing = false" action="/api/books" method: "PATCH">Save Changes</button>
            </div>
                </div>
                </div>
            </div>
</div>
</body>
