
<div class="wrapper">
	<div class="landing-header">
		<nav class="navbar navbar-ct-transparent">
		  <ul class="nav navbar-nav navbar-right ">
			<li><a href="/login" class="btn btn-warning btn-fill">Login</a></li>
			<li class="logout"><a href="/signup" class="btn btn-warning btn-fill">Signup</a></li>
		</ul>
		</nav>
				<div class="container">
						<div class="motto">
								<h1 class="title-uppercase">Bibliopolis</h1>
								<h3>a checkout app for your personal library.</h3>
								<br />
								<!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn"><i class="fa fa-play"></i>Watch video</a>
								<a class="btn">Download</a> -->
						</div>
				</div>
		</div>
		<div class="main">
				<div class="section text-center landing-section">
						<div class="container">
								<div class="row">
										<div class="col-md-8 col-md-offset-2">
												<h2>Let's talk product</h2>
												<h5>Bibliopolis was built in response to the need to manage personal libraries. With Bibliopolis you can keep track of your books and even send email reminders! It is simple and easy to use. Check it out!</h5>
										</div>
								</div>
						</div>
				</div>

				<div class="section section-orange landing-section">
						<div class="container">
								<div class="row">
										<div class="col-md-4 column">
												<h4>Create Your Library</h4>
												<p>It's easy to add books to Bibliopolis! You simply enter some basic information onto our form and your books are added to your library.</p>
										</div>
										<div class="col-md-4 column">
												<h4>Add Members</h4>
												<p>With our app you don't need to have all your members sign up. You can simply add them to your own database of members with a simple form!</p>
										</div>
										<div class="col-md-4 column">
												<h4>Send Reminders</h4>
												<p>It's hard to keep track of who has what book. Bibliopolis automatically sends reminder emails to members from the day before it is due until it is returned.</p>
										</div>
								</div>
						</div>
				</div>

				<div class="section section-light-blue text-center landing-section">
						<div class="container">
								<h2>About Us</h2>
								<div class="col-md-4">
										<div class="team-player">
												<img src="http://i.imgur.com/Or77IuJ.jpg" alt="Thumbnail Image" class="img-thumbnail img-responsive pan-pic">
												<h5>Virginia<br /><small class="text-muted">virginiachae</small></h5>
												<p>I built it.</p>
										</div>
								</div>
								<div class="col-md-4">
										<div class="team-player">
												<img src="http://i.imgur.com/NtzpzMR.jpg" alt="Thumbnail Image" class="img-thumbnail img-responsive pan-pic">
												<h5>Kevin<br /><small class="text-muted">theycallmekevo</small></h5>
												<p>Kevin helped.</p>
										</div>
								</div>
								<div class="col-md-4">
										<div class="team-player">
												<img src="http://i.imgur.com/QrEwZuP.jpg" alt="Thumbnail Image" class="img-thumbnail img-responsive pan-pic">
												<h5>Kyle<br /><small class="text-muted">zZissou</small></h5>
												<p>So did Kyle.</p>
										</div>
								</div>
						</div>
				</div>
